html {
  font-family:Calibri;
  padding:30px;
  background:#d1d1d1;
  color: #000000;
}

ul {
  padding:5px;
  list-style:none;
}

a {
  color:#a6171a;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

#playlist {
  width:800px;
  padding:5px;
}

#audio {
  width:400px;
}

.songlist {
  padding:5px;
  display:block;
}

.active {
  font-weight: bold;
}

.links {
  color:#000;
}
